<div style="background-color: #4b3832; padding: 20px; border-radius: 10px; box-shadow: 5px 5px 10px #888888;">
  <h1 style="color: white; font-size: 30px; font-weight: bold; text-align: center; text-shadow: 2px 2px 4px #000000;"> "DATA ANALYSIS OF TOP COMPANIES"
</h1>
</div>

<div style="background-color: #4b3832; padding: 20px; border-radius: 10px; box-shadow: 5px 5px 10px #888888;">
  <h1 style="color: white; font-size: 30px; font-weight: bold; text-align: center; text-shadow: 2px 2px 4px #000000;"> *libraries used are *
</h1>
    
</div>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from wordcloud import WordCloud
import sklearn
import tensorflow as tf
import plotly.express as px
import dash
import nltk
import spacy

WARNING:tensorflow:From c:\Users\Wajith Ali\AppData\Local\Programs\Python\Python310\lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [2]:
# loading the dataset
df = pd.read_csv("E:/Coding notebook/intern/week4/topcompanies(big)/companies.csv")

In [3]:
#printing the data columns with the number of rows and
print(f'The DataSet has {df.shape[1]} columns with the headings of {df.columns} and contains {df.shape[0]} rows')

The DataSet has 10 columns with the headings of Index(['Company_name', 'Description', 'Ratings', 'Highly_rated_for',
       'Critically_rated_for', 'Total_reviews', 'Avg_salary',
       'Interviews_taken', 'Total_jobs_available', 'Total_benefits'],
      dtype='object') and contains 10000 rows

In [4]:
df.head(7)

,Company_name,Description,Ratings,Highly_rated_for,Critically_rated_for,Total_reviews,Avg_salary,Interviews_taken,Total_jobs_available,Total_benefits
0,TCS,IT Services & Consulting | 1 Lakh+ Employees |...,3.8,"Job Security, Work Life Balance","Promotions / Appraisal, Salary & Benefits",73.1k,856.9k,6.1k,847,11.5k
1,Accenture,IT Services & Consulting | 1 Lakh+ Employees |...,4.0,"Company Culture, Skill Development / Learning,...",NaN,46.4k,584.6k,4.3k,9.9k,7.1k
2,Cognizant,IT Services & Consulting | 1 Lakh+ Employees |...,3.9,Skill Development / Learning,Promotions / Appraisal,41.7k,561.5k,3.6k,460,5.8k
3,Wipro,IT Services & Consulting | 1 Lakh+ Employees |...,3.8,Job Security,"Promotions / Appraisal, Salary & Benefits",39.2k,427.4k,3.7k,405,5k
4,Capgemini,IT Services & Consulting | 1 Lakh+ Employees |...,3.9,"Job Security, Work Life Balance, Skill Develop...","Promotions / Appraisal, Salary & Benefits",34k,414.4k,2.8k,719,4k
5,HDFC Bank,Banking | 1 Lakh+ Employees | Public | 30 year...,4.0,"Job Security, Skill Development / Learning",Promotions / Appraisal,33.9k,132.3k,1.5k,335,3.2k
6,ICICI Bank,Banking | 1 Lakh+ Employees | Public | 30 year...,4.0,"Job Security, Skill Development / Learning, Co...",NaN,33.5k,143.6k,1.9k,215,3.7k

# Stage 1: Data Cleansing

In [5]:
# Chalking up missing values 'Ratings' with the median
df['Ratings'].fillna(df['Ratings'].median(), inplace=True)

In [6]:
# Chalking up missig 'critically_rated_for' with 'not available'
df['Critically_rated_for'].fillna('Not Available', inplace=True)

In [7]:
# Ensuring 'ratings' are not out of range 1-5 or else chalking up with NaN
df['Ratings'] = df['Ratings'].apply(lambda x: np.nan if x < 1 or x > 5 else x)

In [8]:
# Removing Duplicates
df.drop_duplicates(inplace=True)

In [9]:
# Now converting 'k' values to thounds
k_col = ['Total_reviews', 'Avg_salary', 'Interviews_taken', 'Total_jobs_available', 'Total_benefits']
df[k_col] = df[k_col].replace({'k':''}, regex=True)
df[k_col] = df[k_col].replace('--', np.nan)
df[k_col] = df[k_col].apply(pd.to_numeric)
df[k_col] *= 1000

In [10]:
# Ensuring company names as str
df['Company_name'] = df['Company_name'].str.title()

In [11]:
df.shape

(9359, 10)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9359 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Company_name          9359 non-null   object
 1   Description           9359 non-null   object
 2   Ratings               9359 non-null   float64
 3   Highly_rated_for      9274 non-null   object
 4   Critically_rated_for  9359 non-null   object
 5   Total_reviews         9359 non-null   float64
 6   Avg_salary            9357 non-null   float64
 7   Interviews_taken      9168 non-null   float64
 8   Total_jobs_available  5744 non-null   float64
 9   Total_benefits        9283 non-null   float64
dtypes: float64(6), object(4)
memory usage: 804.3+ KB

In [ ]:
df.head(7)


# Stage 2 : Decriptive Analysis